* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: Helvetica Neue, Circular; */
    text-decoration: none;
    list-style: none;
}

body {
    height: 100vh;
    width: 100%;
    background-image: url(../images/towerbridge.jpg);
    background-size: cover;
}

header {
    height: 25%;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
}

.login {
    display: flex;
    align-items: center;
}

.login li img {
    height: 16px;
}

main {
    height: 50%;
    width: 80%;
}

footer {
    height: 25%;
    background-color: #fff;
}