* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: Helvetica Neue, Circular; */
    text-decoration: none;
    list-style: none;
    font-family: Helvetica, Arial, sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    background-image: url(../images/towerbridge.jpg);
    background-size: cover;
}

/* -------------- header --------------- */

header {
    height: 13%;
    width: 100%;
    display: flex;
    justify-content: center;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav p {
    color: #171819;
}

nav span {
    color: #171819;
    font-weight: 600;
}

.menu {
    width: 55%;
    display: flex;
    justify-content: space-around;
}

.menu li {
    color: #171819;
}

.menu li:hover {
    color: #eaeaea;
    transform: scale(1.1);
    transition: all 250ms;
}

.login {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.login li {
    color: #171819;
}

.login li:hover {
    color: #eaeaea;
    transition: all 250ms;
}

.login li:nth-child(2) {
    width: 40%;
    text-align: center;
    background-color: #171819;
    color: #eaeaea;
    border-radius: 15px;
}

.login li:nth-child(2):hover {
    background-color: #eaeaea;
    color: #171819;
}

.login li img {
    height: 10px;
}

/* -------------- main ----------------- */

main {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

h1 {
    width: 45%;
    font-size: 35px;
    margin-top: 5%;
    margin-left: 3%;
    font-weight: 100;
}

h1 span {
    font-size: 35px;
    font-weight: bold;
}

h2 {    
    font-size: 20px;
    margin-left: 3%;
    font-weight: lighter;
}

.arrowRight {
    height: 15px;
}

.containerTravel {
    height: 80%;
    width: 96%;
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2%;
    transform: translate(0, -20px);
}

.options {
    height: 15%;
    width: 40%;
    background-color: #333;
    color: #eaeaea;   
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 25px;
    border-radius: 10px 10px 0 0;
    margin-left: 13px;
    transform: translate(8px, 11px);
}

.flight {
    margin: 2%;
}

.Hotel {
    margin: 2%;
}

.Car {
    margin: 2%;
}

.options img {
    height: 15px;
}

.sections {
    height: 15%;
    width: 50%;
    padding: 15px;
    color: #171819;   
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sections p {
    font-size: 16px;
}

.sections p img {
    height: 15px;
}

.passage {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.destiny {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.item1, .item2 {
    border: 1px solid #555;
    z-index: 1;
}

.change {
    border: 1px solid #555;
    border-radius: 50%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    transform: translate(-5px);
}

.item2 {
    transform: translate(-8px);
}




.calendar {
    display: flex;
}

.calendar img {
    height: 15px;
}

.enter {
    height: 10%;
    width: 13%;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #171819;
    color: #eaeaea;
    transform: translate(0, -25px);
}

.enter p {
    text-align: center;
}

.enter p img {
    height: 16px;
}

/* -------------- footer ---------------- */

footer {
    height: 7%;
    background-color: #eaeaea;
    display: flex;
    justify-content: space-between;
    align-items: center;
}